$light: white;
$primary-color:#FF1694;
// $primary-color: #13b1cd;
$secondary-color: white;
$event-color:#FF1694;
$law-color: #b99769;
$black: white;
$border-color:white;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Poppins', sans-serif;
$extra-font:'Hind', serif;