// Counter Section 

.counter-item{
	.counter-stat{
		font-size: 50px;
	}

	p{
		margin-bottom: 0px;
	}

}

.bg-counter{
	background: url("../images/bg/counter.jpg")no-repeat;
	background-size: cover;
	@extend .overly-2;
}
.bg-solution{
	background: url("../images/bg/colin.gif")no-repeat;
	background-size: 100% 100%;
	@extend .overly-2;
}
.achivement{
	background: url("../images/bg/achivement.gif")no-repeat;
	background-size: 100% 100%;
	@extend .overly-2;
	}
.myachivement{
	background: url("../images/bg/counter.jpg")no-repeat;
	background-size: cover;
	@extend .overly-2;
}

.elearning{
	background: url("../images/bg/exams.gif")no-repeat;
	background-size: cover;
	@extend .overly-2;
}

.typingtest{
	background: url("../images/bg/typing.gif")no-repeat;
	background-size: 100% 100%;
	@extend .overly-2;
}
.itsecuritysolotion{
	background: url("../images/bg/security.gif")no-repeat;
	background-size: 100% 100%;
	@extend .overly-2;
}
.itinfrastructure{
	background: url("../images/bg/itinfra.gif")no-repeat;
	background-size: cover;
	@extend .overly-2;
}
.development{
	background: url("../images/bg/development.gif")no-repeat;
	background-size: 100% 100%;
	@extend .overly-2;
}
.digital-marketings{
	background: url("../images/bg/computer.gif")no-repeat;
	background-size: 100% 100%;
	@extend .overly-2;
}