<!-- Header Start -->
<header class="navigation">
  
  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg px-0 py-4">
            <a class="navbar-brand " href="index.html">
              Panch Soft<span>Technologies</span>
            </a>
      
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
              aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>
      
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item @@home">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item @@service"><a class="nav-link" href="about.html">About Us</a></li>
                <li class="nav-item dropdown @@about">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services <i class="fas fa-chevron-down small"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li><a class="dropdown-item @@examination" href="examinationas.html">Examination Auxiliary Services</a></li>
                    <li><a class="dropdown-item @@elearning" href="365solution.html">365 e-Learning Solution</a></li>
                    <li><a class="dropdown-item @@pariksha" href="pariksha.html">Pariksha 24*7</a></li>
                    <li><a class="dropdown-item @@eclassroom" href="eclassroom.html">E-Classroom</a></li>
                    
                    <li><a class="dropdown-item @@itsecurity" href="itsecuritysol.html">IT SECURITY SOLUTION</a></li>
                    <li><a class="dropdown-item @@infrastruture" href="infaitsecuritysol.html">Infrastructure IT Security Solutions</a></li>
                    <li><a class="dropdown-item @@development" href="devarchitecture.html">Development and Architecture</a></li>
                    <li><a class="dropdown-item @@digitalmarketing" href="digitalmark.html">Digital Marketing</a></li>
                    
                  </ul>
                </li>
                
                <li class="nav-item @@project"><a class="nav-link" href="achivements.html">Achivements</a></li>
                
                <li class="nav-item @@contact"><a class="nav-link" href="contact.html">Contact</a></li>
              </ul>
      
              
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Close -->